.container {
  display: flex;
  flex-flow: column;
}

.label {
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--blue);
  margin-bottom: 0.625rem;
}

.input {
  border: 1px solid var(--blue);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  margin-bottom: 0.625rem;
}

.input::placeholder {
  font-size: 1rem;
  font-style: italic;
  font-weight: var(--extra-light);
  color: var(--blue);
  opacity: 0.5rem;
}

.input:disabled {
  border: 1px solid var(--gray);
  color: var(--gray);
  cursor: not-allowed;
}

.input:disabled::placeholder {
  color: var(--gray);
}

.error {
  margin: 0;
  color: var(--red);
}
