.container {
  margin: 1rem 0;
}
.box {
  border: 1px solid var(--blue);
  border-radius: 1.5rem;
  min-width: 250px;
  height: 40px;
  text-align: center;
  color: var(--blue);
}

.box:disabled {
  box-shadow: none;
  border-color: var(--gray);
  background-color: var(--light-gray);
  cursor: not-allowed;
}
